body{
  background-color: black;
  color: white;
  font-family: monospace;
}

.top {
  font-family: 'Kranky', cursive;
  text-align: center;
  font-size: 10em;
}
.description {
  text-align: center;
  font-size: 2em;
}
.center {
  text-align: center;
}
